# Week 2: independent work

The goal of this notebook is for you to:
    
1. Learn about main Python variable types: `int`, `float`, `string` and `bool`
2. Learn the main differences between main Python **collections**: `list`, `tuple`, `set` and `dict`
3. Learn what is indexing, slicing, what is mutable vs. immutable, ordered vs. unordered
4. Learn main operations available for collections

Read through the document with examples provided in cells.
* There are some exercises in the notebook which are not graded.
* During the Week 3 lecture, you will complete a short quiz on these topics.

There are also slides which contain the same information in slightly different format, so you can choose what works better for you.

#### A tip for using this notebook
* If you modified code or ran cells several times out of order, some examples may break. If that happens, in the upper menu, press "Kernel" -> "Restart & Clear Output", then run cells sequentially one time each. "Restart & Run all" won't work because some cells purposedly will produce an error stopping the notebook from running to the end.

# Python variable types

These are main variable types available in Python (without importing additional packages):
* `int` - integers, or whole numbers
* `float` - floating point numbers
* `str` - strings of symbols, should be enclosed in `''` or `""`
* `bool` - a boolean value, either `True` or `False`

There are also `complex` numbers, as well as the special `None` value which has the `NoneType` type. `None` can be understood as an empty value.

To check the type of a variable, use `type()` command:

In [1]:
type(42)

int

In [2]:
type(42.0)

float

In [3]:
type('42')

str

In [4]:
type(False)

bool

In [5]:
type(None)

NoneType

Different variable types allow different operations. Actually, `int`, `float`, `str` etc. are **objects** which have their own sets of functions and rules.

Sometimes the names or symbols of these functions can overlap between types. For example, the operator `+` adds numbers mathematically, but it can also concatenate strings:

In [6]:
5 + 10

15

In [7]:
'5' + '10'

'510'

Usually, such cases do not allow mixing variable types, and you will get an error:

In [8]:
5 + '10'  # raises TypeError

TypeError: unsupported operand type(s) for +: 'int' and 'str'

However, in most cases, `int` and `float` objects can be freely mixed. Note that the final value often will be a `float`.

In [ ]:
5 + 10.0

## Convert between variable types

Python has functions which allow to obtain a copy of the value with a different type. These functions are named with same words as the types themselves (with the exception of the `None` value):

In [9]:
float(5)

5.0

In [10]:
str(5)

'5'

In [11]:
int('5')

5

In [12]:
str(True)

'True'

In [13]:
int(True)  # the explanation is below

1

## Booleans and conditions

Notice that with `int()` and `float()` functions, `True` is converted `1` or `1.0`, and `False` is converted to `0` or `0.0`, respectively.

**This is very important:** in Python, any non-zero number or non-empty string will be converted to `True`; while zeros, empty strings and `None` objects are `False`:

In [14]:
bool(5), bool(-5), bool(5.0), bool('5'), bool(True)

(True, True, True, True, True)

In [15]:
bool(0), bool(0.0), bool(''), bool(None), bool(False), bool()

(False, False, False, False, False, False)

This is the case in all Python conversions and calculations, and is used extensively in **conditionals**. 

Remember how to use `if`:

In [16]:
a = 5
if a != 0:
    print('a is not a zero')
else:
    print('a is a zero!')

a is not a zero

Now you can write the same thing, but shightly shorter:

In [17]:
a = 5
if a:                            # <----- notice the simplification
    print('a is not a zero')
else:
    print('a is a zero!')

a is not a zero

In [18]:
a = 0
if a:
    print('a is not a zero')
else:
    print('a is a zero!')

a is a zero!

# Collections: lists

There are several collection types in Python.
* A collection consists of several values stored together in a single object.

The most simple and commonly used collection is `list`. Lists are created with square brackets:

In [19]:
my_list = ['value', 'another_value']
type(my_list)

list

Lists can have objects of any type inside them, in any combination.

To get the number of values in a list, use `len()`:

In [20]:
# notice another list inside of my_list
my_list = [1, 2.0, True, None, 'string', ['another', 'list']]
len(my_list)

6

The `len()` can also be used on `str` objects and will show the number of characters.

* Actually, both `str` and `list` objects are **iterable**, meaning that they have values which can be counted. If an object has length, you can always use the `len()` function on it.

In [21]:
list_from_string = list('hello')
list_from_string

['h', 'e', 'l', 'l', 'o']

## Indexing

Each object in the list has its own index (starting from 0). This is because lists are **ordered**. The last index will always be the length of the list minus 1.

Getting an object by its index is called **indexing** and is done with square brackets right after the list (or string):

In [22]:
my_list = ['a', 'b', 'c', 'd', 'e', 'f']
my_list[0]  # the 1st value

'a'

In [23]:
my_list[4]  # the 5th value

'e'

In [24]:
'hello'[0]  # you can operate with objects without assigning a name to them, but it's usually useless

'h'

Objects can be indexed from the end of the list, in this case, indices are from -1 and lower:

In [25]:
my_list[-1]

'f'

In [26]:
my_list[-2]

'e'

## Slicing

Several objects can be obtained by using **slicing**. Slicing has a specific syntax: `[start:end:step]`.
* The value with the `end` index won't be included.
* You don't need to provide all three values. By default:
  * `start` is zero (the index for the first value);
  * `end` is the length of the list;
  * `step` equals `1` which takes each value without skipping any of them.

To have a better grasp how it works, examine several examples:

In [27]:
alist = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
print(alist[0:3])

[0, 1, 2]

In [28]:
print(alist[:3])  # same as previous command

[0, 1, 2]

In [29]:
print(alist[2:6])

[2, 3, 4, 5]

In [30]:
print(alist[2:6:2])

[2, 4]

In [31]:
print(alist[-3:-1])

[7, 8]

In [32]:
print(alist[:])  # return everything

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

You can provide a negative `step` to inverse the list:

In [33]:
print(alist[::-1])
print(alist[-1:-5:-1])

[9, 8, 7, 6, 5, 4, 3, 2, 1, 0]
[9, 8, 7, 6]

In case of indexing, if you provide a non-existing index, you will get an error, but in case of slicing, you will get an empty list instead:

In [34]:
alist[10]  # raises IndexError

IndexError: list index out of range

In [35]:
alist[10:]

[]

### Exercise: slicing

Observe and run the code below. Write an additional row of code at the bottom of the same cell to print out each second value from the `fibonacci` list.

In [36]:
fibonacci = [1, 1, 2, 3, 5, 8, 13, 21, 34, 55]

## List operations

`list` objects have several commonly used operations. See the examples with short explanations:

In [37]:
x = []              # for the examples, first create an empty list
x.append('hello')   # add the value
x.append('world')   # add another value, always at the end of the list
print(x)

['hello', 'world']

In [38]:
# append a list to a list, which results in a list inside list (nested list).
x.append(['hello', 'nested', 'list'])   

# add all values from another list by using extend(). Can be used with any iterable.
x.extend(['hello', 'extended', 'values'])      

print(x)

['hello', 'world', ['hello', 'nested', 'list'], 'hello', 'extended', 'values']

In [39]:
x[-1] = 2023   # change the last value to 2023
print(x)

['hello', 'world', ['hello', 'nested', 'list'], 'hello', 'extended', 2023]

In [40]:
# count "hello" values in list (nested lists are not looked into!). Count() can also be used on strings 
x.count('hello')

2

In [41]:
x.remove('hello')     # will only remove the first "hello" object!
print(x)

['world', ['hello', 'nested', 'list'], 'hello', 'extended', 2023]

In [42]:
x.insert(1, 'hello')  # insert "hello" into the 2nd position which is after the "world" value
print(x)

['world', 'hello', ['hello', 'nested', 'list'], 'hello', 'extended', 2023]

In [43]:
x.pop(2)  # remove 3rd object from the list
print(x)

['world', 'hello', 'hello', 'extended', 2023]

In [44]:
x.clear()  # clear everything from the list
print(x)

[]

## Mutable vs. Immutable

In the examples above, there were many modifications done to the list `x`. This is because lists are **mutable**. Some other Python objects are **immutable**. For example, strings are immutable:

In [45]:
my_string = 'hello'
my_string[0] = 'j'  # raises TypeError

TypeError: 'str' object does not support item assignment

This is an important concept to grasp. In scientific coding, immutable objects are reliable as they will stay same during the whole code. Lists are less reliable because their change can be unnoticed by a less experienced programmer.

There is another important detail about lists which arises from their mutability:

In [46]:
a = [1, 2, 3, 4, 5]
b = a                 # this DOES NOT create a copy of a!
a.append(6)           # a new value is added to the list, modifying it in-place
print(b)              # both a and b variables lead to the same list!

[1, 2, 3, 4, 5, 6]

This is where slicing is helpful as it always returns a **copy**:

In [47]:
a = [1, 2, 3, 4, 5]
b = a[:]              # now b is created by copying all values from a
a.append(6)       
print(b)              # b variable is unchanged

[1, 2, 3, 4, 5]

So, it is crucial to discriminate between operations which return a copy of a mutable object, and which operate with them **in-place**.
* `.append()`, `.extend()`, `.insert()`, `.remove()`, `.clear()` are in-place operations. They return nothing (`None`)!

In [48]:
a = [1, 2, 3, 4, 5]
returned_value = my_list.append(6)
print(returned_value)

None

### Exercise: in-place operations

What is wrong with this code, so its output is pointless? How to make it meaningful?

In [49]:
cubes = [1**3, 2**3, 3**3, 4**3]
print(cubes.extend([5**3, 6**3]))

None

## Comparison and the `is` operator

It is easy to compare values. Operators for the mathematical comparison were listed in the Week 1 slides.

In [50]:
a, b = 3, 5
a < b

True

Lists can be compared to see if their values are same and in the same order:

In [51]:
a = [1, 2, 3]
b = [1, 3, 2]
a == b

False

In [52]:
a = [1, 2, 3]
b = [1, 2, 3]
a == b

True

In the above example, `a` and `b` lists are two different objects created independently. Each can be modified without affecting the other. How to differentiate such case from the previously shown `a = b` case where it would be the same objects? Use the `is` operator:

In [53]:
a is b

False

## Sorting lists

List sorting only works if there are only strings or only numbers inside. This is because during sorting, values are compared with each other using the `<` operator which is not supported between `str` and numerical types.

Python sorting functions return numbers from smallest to largest, and strings sorted alphabetically. The main function is `sorted()` which returns a new object:

In [54]:
a = [3, 2, 4]
b = sorted(a)
print('b:', b)
print('a:', a)

b: [2, 3, 4]
a: [3, 2, 4]

There is also a function for in-place sorting: `.sort()`.

In [55]:
a = [3, 2, 4]
a.sort()
print(a)

[2, 3, 4]

# What to do if you forgot what a command does and don't have internet connection?
Python has the `help()` function which can be used to get some information on Python **in-built** functions, as well as most functions from imported packages:

In [56]:
help(len)

Help on built-in function len in module builtins:

len(obj, /)
    Return the number of items in a container.

In [57]:
help([].append)

Help on built-in function append:

append(object, /) method of builtins.list instance
    Append object to the end of the list.

# Other collection types

There are three more collection types:

### Tuples
`tuple` objects are similar to lists, but are created with round brackets (`()`) instead, and are **non-mutable**. That means, you can change objects in lists (e.g. by using indexing to assign new values), but you cannot do the same with tuples:

In [58]:
my_list = [3, 4, 5]
my_list[1] = 100
print(my_list)

my_tuple = (3, 4, 5)
my_tuple[1] = 100  # raises TypeError

[3, 100, 5]

TypeError: 'tuple' object does not support item assignment

It also means that all functions which change lists in-place won't work on tuples, such as `.append()`, `.extend()`, `.remove()`, `.insert()`, `.sort()`, etc. However, most other functions will work, e.g. `len()`, `.count()`.

Indexing, slicing, and sorting work the same for lists and tuples.

### Sets

`set` objects are quite different collections which are created with curly brackets (`{}`). First of all, they can only contain unique values:

In [59]:
my_set = {1, 2, 3, 4, 4}
my_set                     # one of fours disappeared

{1, 2, 3, 4}

`set` objects are also unordered, meaning they cannot be indexed or sliced:

In [60]:
my_set[1]  # raises TypeError

TypeError: 'set' object is not subscriptable

`set` are mutable and have  functions to add or remove values:

In [61]:
my_set.add(0)       # add a new value which is zero
print(my_set)

my_set.remove(2)    # remove the value 2
print(my_set)

{0, 1, 2, 3, 4}
{0, 1, 3, 4}

The `frozenset()` object is a type of set which is immutable.

# Other operations with collections

Lists and tuples can be concatenated with `+`. Sets have additional operations (called set operations) which we will discuss later.

In [62]:
[1, 2, 3] + [1, 2]

[1, 2, 3, 1, 2]

In [63]:
(1, 2, 3) + (1, 2)

(1, 2, 3, 1, 2)

For more examples of list, tuple, and set functions, see the Week 2 slides.

# Dictionaries

Dictionaries, or `dict` objects, consist of **key** and **value** pairs. You can search the value by using the key. This is similar to indexing:

In [64]:
my_dict = {'hello': 'labas', 'world': 'pasaulis'}
my_dict['hello']

'labas'

So, dictionaries also use curly brackets. They are similar to sets because dictionary keys are also unique, and dictionaries are also unsorted. Values, on the other way, can have duplicates.

Dictionaries are mutable:

In [65]:
my_dict['bird'] = 'paukštis'  # adding a new key-value pair
my_dict['hello'] = 'sveiki'   # changing an already existing key-value pair
my_dict

{'hello': 'sveiki', 'world': 'pasaulis', 'bird': 'paukštis'}

Only immutable objects can be dictionary keys: `int`, `float`, `str`, `bool`, and `tuple` objects.

Values can be any objects, mutable as well: lists, other dictionaries, even functions. See an example with three in-built functions:

In [66]:
dict_with_functions = {
    'min': min,
    'max': max,
    'sum': sum
}

a = [1, 2, 3, 4, 5]
dict_with_functions['max'](a)

5

There is an alternative way to get values by keys from a dictionary. The one shown above will raise a special error if the key is not present in the dictionary:

In [67]:
my_dict['unknown']   # raises a KeyError

KeyError: 'unknown'

If it is important for your program to keep going, use `.get()` instead, which will return `None` in case the key is not found:

In [68]:
print(my_dict.get('unknown'))

None

You can also change this default `None` value to something else by provifing a second parameter to `.get()`:

In [69]:
print(my_dict.get('unknown', 'default value'))

default value

# Exercises 1 (not graded)

Try to answer these questions by writing commands and printing out answers:

1. How old are you? (substract your birth year from the current year)
1. How many digits there are in the current year?
1. What are the values from 5th to 10th position in this list (copy-paste it into cell): `[6, 2, 9, 4, 6, 3, 2, 8, 5, 0, 7, 4, 2]`
1. In the same list, what is the sum of all values in positions with odd indices (use slicing and the `sum(x)` function)?
1. How would you convert this tuple: `('one', 'two', 'three')` to this one: `('one', 'two', 'hello', 'tree')`? Think of at least 3 different ways to do it.

In [ ]:
# experiment there!